# Domain
# This would be set to the production domain with an env var on deployment
# used by Traefik to transmit traffic and aqcuire TLS certificates
DOMAIN=localhost

# Used by the backend to generate links in emails to the frontend
FRONTEND_HOST=http://localhost:3000

# Environments: local, staging, production
ENVIRONMENT=local

PROJECT_NAME="Lokdarpan Backend"
STACK_NAME=lodarpan-backend

# Backend
BACKEND_CORS_ORIGINS="http://localhost,http://localhost:5173,https://localhost,https://localhost:5173"
SECRET_KEY=change_this_to_a_string_that_is_at_least_32_characters_long_for_security
FIRST_SUPERUSER=admin@example.com
FIRST_SUPERUSER_PASSWORD=changelethis

# Postgres
POSTGRES_SERVER=localhost
POSTGRES_PORT=5432
POSTGRES_DB=app
POSTGRES_USER=postgres
POSTGRES_PASSWORD=changelethis
